/home/airlab/enrico_ws/SLAM_datasets/KITTI_odometry_dataset/dataset/sequences/12/
/home/airlab/enrico_ws/manifold_reconstructor/output/KITTI/12/manifold_KITTI12_stereo_noBA.off
/home/airlab/enrico_ws/manifold_reconstructor/data/KITTI/12/FrameTrajectory_KITTI12_stereo_1061frames.json
 #
/home/airlab/enrico_ws/SLAM_datasets/KITTI_odometry_dataset/dataset/poses/12.txt
0 #initframe
1061 #fine
1
result_KITTI12_stereo
