/home/airlab/enrico_ws/SLAM_datasets/KITTI_odometry_dataset/dataset/sequences/€1/
/home/airlab/enrico_ws/manifold_reconstructor/output/KITTI/€1/manifold_KITTI€1_stereo_noBA.off
/home/airlab/enrico_ws/manifold_reconstructor/data/KITTI/€1/FrameTrajectory_KITTI€1_stereo_€2frames.json
 #
/home/airlab/enrico_ws/SLAM_datasets/KITTI_odometry_dataset/dataset/poses/€1.txt
0 #initframe
€2 #fine
1
result_KITTI€1_stereo
