/home/airlab/enrico_ws/SLAM_datasets/KITTI_odometry_dataset/dataset/sequences/05/
/home/airlab/enrico_ws/manifold_reconstructor/output/KITTI/05/manifold_KITTI05_stereo_noBA_movingPoints.off
/home/airlab/enrico_ws/manifold_reconstructor/data/KITTI/05/FrameTrajectory_KITTI05_stereo_1300frames.json
 #
/home/airlab/enrico_ws/SLAM_datasets/KITTI_odometry_dataset/dataset/poses/05.txt
0 #initframe
1300 #fine
1
result_KITTI05_stereo_movingPoints
