/home/airlab/enrico_ws/SLAM_datasets/KITTI_odometry_dataset/dataset/sequences/03/
/home/airlab/enrico_ws/manifold_reconstructor/output/KITTI/03/manifold_KITTI03_stereo_noBA.off
/home/airlab/enrico_ws/manifold_reconstructor/data/KITTI/03/FrameTrajectory_KITTI03_stereo_801frames.json
 #
/home/airlab/enrico_ws/SLAM_datasets/KITTI_odometry_dataset/dataset/poses/03.txt
0 #initframe
801 #fine
1
result_KITTI03_stereo
