/home/airlab/enrico_ws/SLAM_datasets/KITTI_odometry_dataset/dataset/sequences/06/
/home/airlab/enrico_ws/manifold_reconstructor/output/KITTI/06/manifold_KITTI06_stereo_noBA.off
/home/airlab/enrico_ws/manifold_reconstructor/data/KITTI/06/FrameTrajectory_KITTI06_stereo_750frames.json
 #
/home/airlab/enrico_ws/SLAM_datasets/KITTI_odometry_dataset/dataset/poses/06.txt
0 #initframe
750 #fine
1
result_KITTI06_stereo
