/home/airlab/enrico_ws/SLAM_datasets/KITTI_odometry_dataset/dataset/sequences/11/
/home/airlab/enrico_ws/manifold_reconstructor/output/KITTI/11/manifold_KITTI11_stereo_noBA.off
/home/airlab/enrico_ws/manifold_reconstructor/data/KITTI/11/FrameTrajectory_KITTI11_stereo_921frames.json
 #
/home/airlab/enrico_ws/SLAM_datasets/KITTI_odometry_dataset/dataset/poses/11.txt
0 #initframe
921 #fine
1
result_KITTI11_stereo
