/home/airlab/enrico_ws/SLAM_datasets/KITTI_odometry_dataset/dataset/sequences/08/
/home/airlab/enrico_ws/manifold_reconstructor/output/KITTI/08/manifold_KITTI08_mono_noBA.off
/home/airlab/enrico_ws/manifold_reconstructor/data/KITTI/08/FrameTrajectory_KITTI08_mono_1300frames.json
 #
/home/airlab/enrico_ws/SLAM_datasets/KITTI_odometry_dataset/dataset/poses/08.txt
0 #initframe
1300 #fine
1
result_KITTI08_mono
