/home/airlab/enrico_ws/SLAM_datasets/KITTI_odometry_dataset/dataset/sequences/09/
/home/airlab/enrico_ws/manifold_reconstructor/output/KITTI/09/manifold_KITTI09_stereo_noBA.off
/home/airlab/enrico_ws/manifold_reconstructor/data/KITTI/09/FrameTrajectory_KITTI09_stereo_1591frames.json
 #
/home/airlab/enrico_ws/SLAM_datasets/KITTI_odometry_dataset/dataset/poses/09.txt
0 #initframe
1591 #fine
1
result_KITTI09_stereo
