/home/airlab/enrico_ws/SLAM_datasets/KITTI_odometry_dataset/dataset/sequences/00/
/home/airlab/enrico_ws/manifold_reconstructor_original/output/KITTI/00/lit_ManifoldSeparateTrianglesFinal.off
/home/airlab/enrico_ws/manifold_reconstructor_original/data/KITTI/00/FrameTrajectory_KITTI00_stereo_1000frames.json
 #
/home/airlab/enrico_ws/SLAM_datasets/KITTI_odometry_dataset/dataset/poses/00.txt
0 #initframe
1000 #fine
1
result_KITTI00_stereo_lit
